<%- include('../shared/includes/head',{pageTitle: 'Login'})  %> 
<link rel="stylesheet" href="styles/forms.css">
</head>
<body>
    <%- include('../shared/includes/header')  %> 
    <main >
        <h2>Login Your Account</h2>
        <form class="form" action="">
            
             <div>
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" >
             </div>
             <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
    
             </div>
             
                 <button>Login</button>
             </div>
            
            
            
        </form>
    </main>
</body>
</html>