<%- include('../shared/includes/head',{pageTitle: 'Success!'})  %> 
<link rel="stylesheet" href="/styles/errors.css">

</head>
<body>
    <%- include('../shared/includes/header')  %> 
    <main>
  <h1 id="success-h">Coupon added Successfull!</h1>
  <h2>Your customers can use the coupon now.</h2>
    
 </main>
 <%-include("../shared/includes/footer")  %> 

</body>
</html>