<%- include('../shared/includes/head',{pageTitle: 'Manage Orders'})  %> 

</head>
<body>
    <%- include('../shared/includes/header')  %> 
    <main>
   <h2>manage orders</h2>
    </main>
</body>
</html>