<%- include('../shared/includes/head',{pageTitle: 'Manage Orders'})  %> 
<link rel="stylesheet" href="/styles/orders.css"> 
<script src="/scripts/order-management.js" defer></script>
</head>
<body>
    <%- include('../shared/includes/header')  %> 
    <main>
   <h2>All  Orders.</h2>
   <div class="orders">
       <% for(const order of orders){ %>
           <%- include('../shared/includes/order-item',{order: order});  %>
           
        <% } %>  
 
   </div>

    </main>
<%-include("../shared/includes/footer")  %> 

</body>
</html>