<%- include('../shared/includes/head',{pageTitle: 'Manage Products'})  %> 
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/delete-product.js" defer></script>
</head>
<body>
    <%- include('../shared/includes/header')  %> 
    <main>

   <a class="btn-alt" href="/admin/products/new">Add new product</a>
   <%if(products.length === 0){  %> 
    <h2>No products yet.Click the button above to add products to your shop.</h2>

    <% } %> 
   <%- include("../shared/includes/products")  %> 
    </main>
<%-include("../shared/includes/footer")  %> 

</body>
</html>