<%- include('../shared/includes/head',{pageTitle: 'Shop'})  %> 
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/image-preview.js" defer></script>

</head>
<body>
    <%- include('../shared/includes/header')  %> 
    <main>
   <%- include("../shared/includes/product-form",{submitPath: "/admin/products/"+product.id,product: product,imageRequired: false})  %> 
    </main>
</body>
</html>