<%- include('../shared/includes/head',{pageTitle: 'An error occured'})  %> 
<link rel="stylesheet" href="/styles/errors.css">
</head>
<body>
    <%- include('../shared/includes/header')  %> 
    <main>
  <h1>Not Authenticated!</h1>
  <p>Your are not Authenticated to visit the requested resource.</p>
    <a class="btn-alt" href="/">Back to Safety.</a>
 </main>
<%-include("includes/footer")  %> 
</body>
</html>