<%- include('../shared/includes/head',{pageTitle: 'An error occured'})  %> 
<link rel="stylesheet" href="/styles/errors.css">
</head>
<body>
    <%- include('../shared/includes/header')  %> 
    <main>
  <h1>Coupon Error!</h1>
  <p>Your coupon has been expired.</p>
    <a class="btn-alt" href="/cart">Back to Cart.</a>
 </main>
<%-include("includes/footer")  %> 
</body>
</html>