<div id="full-nav">
<header id="main-header">
    <div id="logo"><a href="/">BuyTechHere</a></div>
       <%- include('nav-items')  %> 
        <div id="mobile-menu-btn">
            
            <span></span>
            <span></span>
            <span></span>
            
        </div>
    
</header>
</div>
<aside id='mobile-menu'>
    <%- include('nav-items')  %> 
</aside>

