#cart-items{
    margin: 0 auto;
    padding: 0;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(155 150 150); */
    background-color: rgb(70, 115, 161);
    padding: 0.5rem;
    margin: 1rem auto;
    border-radius: 6px;
    width: 80%;
    box-sizing: border-box;
    color: white;
}
.cart-item-info{
    display: flex;
}
.cart-item-info a{
    text-decoration: none;
    color: rgb(200, 193, 193);
    font-size: 1.1rem;
}
.cart-item-info a:hover{
    color: rgb(255, 255, 255);
}
.cart-item-info .image img{
    width: 140px;
    height: 90%;
    border-radius: 4px;
    object-fit: cover;
    margin-right: 10px;
}
.cart-item-management{
    display: flex;
    flex-direction: column;
    
}
.cart-item-management button{
    margin: 0.5rem;
}
ul li{
    list-style: none;
}
.cart-item h2{
    font-size: 1.2rem;
    margin: 0;
}
.cart-item h4{
    margin: 0;
}
.cart-item p{
  margin-top: 50px;
}
.cart-item input{
    font: inherit;
    padding: 0.3rem;
    border-radius: 4px;
    border: none;
    font-size: 1.1rem;
}
.product-item-price{
    font-style: italic;
    
}
#cart-total p{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    
}
#cart-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
}
#coupon-form{
      margin: 0.25rem auto;
      display: flex;
      justify-content: center;
      
  }
#coupon-form button{
      margin: 0 0.5rem;
      
  }
#coupon-form input{
      border-radius: 4px;
      border: none;
      
  }

#cart-total #cart-total-fallback{
font-size: 1rem;
}
.error-message{
    display: none;
    color: rgb(231, 68, 68);
     margin: 0 auto;
     text-align: center;
}
.success-message{
    display: none;
    color: rgb(49, 171, 45);
     margin: 0 auto;
     text-align: center;
}
.expiry{
   
    color: white;
     margin: 0 auto;
     text-align: center;
}

@media (max-width: 48rem) {
    .cart-item{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        min-width: 240px;
    }
    #cart-total{
        flex-direction: column;
        /* justify-content: space-between; */
        
    }
    .cart-item-info{
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .cart-item-info .image img{
        width: 100px;
        height: 100px;
        border-radius: 4px;
        object-fit: cover;
        
    }
    .cart-item-management{
        margin-top: 10px;
    }
    .cart-item p{
        margin-top: 15px;
      }
      #coupon-form{
          flex-direction: column;
          gap: 0.5rem;
          width: 14rem;
      }
} 