main h2{
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.alert{
    font-family: inherit;
    font-weight: bold;
    color: rgb(165, 74, 74);
    text-align: center;
}
.form{
    background-color:  #fff;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin: 2rem auto;
    max-width: 33rem;
    padding: 1.5rem;
    font-family: inherit;
    border-radius: 8px;
    box-shadow: 1px 1px 6px #fff;
    
}
.form div{
    display: flex;
    flex-direction: column;
}
.form hr{
    width: 90%;
    background-color: black;
}
.form a{
    text-align: center;
    text-decoration: none;
    font-family: inherit;
    font-weight: bold;
    color: rgb(70, 115, 161);
    margin: auto;
}
.form a:hover{
    color: rgb(7, 95, 182);
}
.form div label{
    text-align: center;
    margin: 0.25rem;
    font-weight: bold;
    font-family: inherit;
}
.form div input{
    padding: 0.3rem;
    border-radius: 4px;
    border-color: transparent;
    font-size: large;
    background-color: rgb(214, 210, 210);
    font-family: inherit;
    
}
.form div p{
    margin: 0;
}

#image-upload-control{
    display: flex;
    flex-direction: row;
}
#image-upload-control div{
     width: 50%;
}

#image-upload-control img{
width: 80px;
height: 80px;
border-radius: 4px;
object-fit: cover;
margin-left: 10px;
display: none;
}
#coupon-form{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 36rem) {
    #image-upload-control{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #image-upload-control img{

        margin-top: 10px;
        }
        #image-upload-control div{
            width: 80%;
       }
}