main{
    color: white;
    max-width: 800px;
}
.single-order{
    background-color: rgb(109 91 91);;
    padding:  0.25rem 1rem;     
    margin: 1rem auto;
    border-radius: 8px;
    
    
}
#order-status{
    display: flex;
    justify-content: space-between;
}
.total-price{
    color: rgb(230, 126, 52);
    font-weight: bold;
}
.single-order h2{
    margin: 0;
}
.single-order article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.single-order article address a{
    text-decoration: none;
    color: rgb(230, 126, 52);
    font-weight: bold;
}
.single-order article ul{
    list-style: square;
}
.status{
    color: rgb(255, 253, 253);
    background-color: chocolate;
    padding: 0.2rem 0.5rem;
    font-size: 1.5rem;
    margin-top: 5px;
    display: inline-block;
    border-radius: 6px;
   
}

.status-control{
    display: flex;
   
    justify-content: space-between;
   
}
.order-actions{
    display: flex;
    align-items: flex-end;
    padding-bottom: 1rem;
}
.status-control select{
    font-family: inherit;
 padding: 0.5rem 0.2rem; 
 border-radius: 4px;
 border: none;
 font-size: 1.15rem;
background-color:  rgb(158, 156, 155);
 color: white;
}
.status-control p{
    margin: 5px;
}
@media (max-width: 35.5rem) {
    .single-order article{
        flex-direction: column;
    
    }
    #order-status{
    flex-direction: column;
    }
    .status{
        text-align: center;
        width: 8rem;
    }
    .status-control{
        
        flex-direction: column-reverse;
        
    }
    .order-actions{
        margin-top: 1rem;
    }
    
}