<%- include('../shared/includes/head',{pageTitle: 'Success!'})  %> 
<link rel="stylesheet" href="/styles/errors.css">
</head>
<body>
    <%- include('../shared/includes/header')  %> 
    <main>
  <h1>Order was Successfull!</h1>
  <p>You can visit <a href="/orders">the orders page</a> for more details.</p>
    
 </main>

</body>
</html>