<%- include('../shared/includes/head',{pageTitle: 'Orders'})  %> 
<link rel="stylesheet" href="/styles/orders.css"> 
</head>
<body>
    <%- include('../shared/includes/header')  %> 
    <main>
        <% if(!orders || orders.length === 0) { %> 
       <h2>You have not placed any orders yet!</h2>
            <% }else {%>
                <h2>All your Orders.</h2>
                
                <% } %>  
   <div class="orders">
       <% for(const order of orders){ %>
        <%- include('../shared/includes/order-item',{order: order});  %> 
        <% } %>  

   </div>

    </main>
<%-include("../shared/includes/footer")  %> 
   
</body>
</html>