<%- include('../shared/includes/head',{pageTitle: 'Shop'})  %> 
<link rel="stylesheet" href="/styles/products.css">
</head>
<body>
    <%- include('../shared/includes/header')  %> 
    <main>
  <h2>You Can shop all Tech Related to Computers Here.</h2>
<%- include("../shared/includes/products")  %>     
 </main>

</body>
</html>