<%- include('../shared/includes/head',{pageTitle: 'Shop'})  %> 
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/cart-management.js" defer></script>

</head>
<body>
    <%- include('../shared/includes/header')  %> 
    <main>
      <%if(products.length === 0){  %> 
        <h2>No products available.</h2>

        <% } %> 
<%- include("../shared/includes/products")  %>     
 </main>
<%-include("../shared/includes/footer")  %> 
</body>
</html>